################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Floral_Wisdom/FileContentIndex/add1cc76-b9be-4be0-82f8-2baff45776b2.vsidx
