@{
    ViewData["Title"] = "Floral Wisdom – Дигитален асистент за грижа за растения";
}

<h1 class="text-align-center mb-3 pt-4">@ViewData["Title"]</h1>

<ol class="mx-5">
    <li class="mt-1">
        <h4>Описание на проекта</h4>
        <div id="logo-d">
            <p>
                Floral Wisdom е приложение, което помага на потребителите да се грижат за своите растения чрез персонализирани напомняния, дневник за здравословното им състояние и информация за техните нужди. Потребителите могат да добавят растения към своите профили, да получават напомняния за поливане, торене, пресаждане и да съхраняват данни за състоянието и лечението на растенията си.
            </p>
            <img src="../images/Plant-removebg-preview.png" />
        </div>
    </li>
    <li class="mt-1">
        <h4>Основни цели</h4>
        <ul>
            <li>Улесняване на ежедневната грижа за растенията.</li>
            <li>Съхраняване на здравни записи и график за напояване, торене и пресаждане.</li>
            <li>Изграждане на надеждна база данни с възможност за разширение.</li>
            <li>Предоставяне на персонализирани напомняния за грижи на база вида и нуждите на растенията.</li>
        </ul>
    </li>
    <li class="mt-1">
        <h4><span>Технологии и инструменти</span></h4>
        <ul>
            <li>Език за програмиране: C# (Visual Studio)</li>
            <li>Web Framework: ASP.NET Core 9 MVC</li>
            <li>ORM: Entity Framework Core 9</li>
            <li>База данни: SQL Server (LocalDB)</li>
        </ul>
    </li>
    <li class="mt-1">
        <h4>Структура на приложението</h4>
        <ul>
            <li>Слой за данни (Data Layer): работа с база данни чрез Entity Framework Core</li>
            <li>Слой за услуги (Service Layer): бизнес логика и операции за грижа за растенията</li>
            <li>
                Презентационен слой (Presentation Layer):
                <ul>
                    <li>Конзолен интерфейс</li>
                    <li>
                        Web интерфейс (MVC архитектура)
                    </li>
                </ul>
            </li>
            * За дизайна на проекта използваме internet templates
        </ul>
    </li>
    <li class="mt-1">
        <h4>Структура на базата данни</h4>
        <ul>
            <li>Users: Id, Username, Email, PasswordHash</li>
            <li>Plants: Id, Name, ScientificName, Description, WateringFrequency, SunlightRequirement</li>
            <li>UserPlants: UserId, PlantId (връзка много към много, указващо кои растения принадлежат на потребителя)</li>
            <li>CareReminders: Id, ReminderType, NextDueDate, PlantId</li>
            <li>DiseaseReports: Id, Diagnosis, RecommendedTreatment, PlantId</li>
            <li>UserRequests: Id, Name, WorkHours, PlantType, Colour, UserId (връзка с потребителя)</li>
        </ul>
    </li>
    <li class="mt-1">
        <h4>Основни функционалности</h4>
        <ul>
            <li>
                CRUD операции:
                <ul>
                    <li>Потребители</li>
                    <li>Растения</li>
                    <li>Напомняния за грижа</li>
                    <li>Доклади за болести</li>
                </ul>
            </li>
            <li>
                Дневник за здравето на растенията:
                <ul>
                    <li>
                        Записване на състоянието на растенията (напр. болести, напояване,
                        торене и т.н.)
                    </li>
                </ul>
            </li>
            <li>
                Напомняния за грижа:
                <ul>
                    <li>
                        Персонализирани напомняния за поливане, торене, пресаждане и
                        други грижи.
                    </li>
                </ul>
            </li>
            <li>
                Заявки на потребителите:
                <ul>
                    <li>
                        Възможност за добавяне на нови заявки за растения, които да бъдат
                        обработвани от системата.
                    </li>
                </ul>
            </li>
            <li>
                Връзка много към много:
                <ul>
                    <li>
                        Възможност за множество растения да принадлежат на един
                        потребител и обратното.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="mt-1">
        <h4>Очаквани резултати</h4>
        <ul>
            <li>Функционираща конзолна и Web версия</li>
            <li>Изчистен и добре структуриран код</li>
            <li>Добра база данни</li>
            <li>Лесна поддръжка и разширяемост на проекта</li>
        </ul>
    </li>
    <li class="mt-1">
        <h4>Проблеми, с които се сблъскахме</h4>
        <ul>
            <li>Свързване на базата данни с приложението чрез Entity Framework Core.</li>
            <li>Изправяне пред проблеми с навигационни свойства и релации в базата
                данни.</li>
            <li>Леки затруднения при изграждането на Web интерфейса за управление на
                растенията и напомнянията.</li>
        </ul>
    </li>
    <li class="mt-1">
        <h4>Екипна работа</h4>
        <div>
            <p>
                Проектът беше реализиран съвместно от Анелия Папазова и Ирем Чауш, като
                активно си сътрудничихме и помагахме взаимно във всички етапи: планиране,
                разработка, тестване и документация и разработване на собствено лого. Всяка от нас допринасяше според нуждите
                на момента. Често се пращаха една на друга файлове, код и идеи, като всеки
                допълваше или надграждаше работата на другата. Включихме се и двете при
                прегледа и подобряването на кода, с цел постигане на завършен, добре
                структуриран и функциониращ проект.
            </p>
        </div>
    </li>
    <li class="mt-1 mb-5">
        <h4>Заключение</h4>
        <p>
            Проектът Floral Wisdom демонстрира практически опит с разработка на
            многослойни приложения за грижа за растения, използвайки съвременни
            технологии като ASP.NET Core и Entity Framework Core. Проектът е лесен за
            разширяване и поддръжка, като предлага множество функционалности за
            управление на растенията и напомнянията за грижи.
        </p>
    </li>
</ol>
